<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Reserva de Citas</a>
  </nav>
<div id="main-wrapper">
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <div>
                <!-- <app-citas></app-citas> -->
            </div>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

            <!-- 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div> 
            -->

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2021 CRM
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>