<!-- <ngx-spinner></ngx-spinner> -->

<div class="card text-center">
    <div class="row">
      <label class="col-form-label" >Area de exámenes</label>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Tipo Exámen</label>
        <div class="col-sm-6">
          <select name="tipoPrestaciones"  class="form-select form-select-sm" (change)="cambiaTipoPrestacion($event.target.value)">
            <option selected >Seleccione prestación</option>
            <option [value]="item.tp_id"  *ngFor="let item of tipoPrestaciones">{{item.tp_nombre}}</option>
        </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Exámen</label>
        <div class="col-sm-6">
          <select name="prestaciones"  class="form-select form-select-sm" (change)="cambiaPrestacion($event.target.value)">
            <option selected >Seleccione prestación</option>
            <option [value]="item.id"  *ngFor="let item of prestaciones">{{item.prestacion}}-({{ item.codigo }})</option>
        </select>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary position-relative"  type="button" (click)="agregarPrestacion()">Agregar</button>
        </div>
      </div>
  
    <div class="mb-4">
      <table class="table table-striped table table-sm"  style="text-align: left;">
        <thead>
          <tr>
            <th scope="col">EXÁMEN</th>
            <th scope="col">CODIGO FONASA</th>
            <!-- <th scope="col">SELECCIÓN</th> -->
          </tr>
        </thead>
        <tbody >
          <tr [prestacionSeleccionada]="prestacionSeleccionada" *ngFor="let prestacionSeleccionada of prestacionSeleccionada" >
            <th>{{ prestacionSeleccionada.prestacion}}</th>
            <td>{{ prestacionSeleccionada.codigo }}</td>
            <!-- <td> <input class="form-check-input" type="checkbox" value="" id="{{ prestacionSeleccionada.id }}"></td> -->
        </tbody>
      </table>

      <div class="mb-3 row">
          <div class="col-sm-8">
        <label class="col-sm-3 col-form-label">Cantidad:</label><label class="col-sm-6 col-form-label">{{prestacionSeleccionada.length}} EXAMENES SELECCIONADOS </label>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success"  type="button" (click)="enviarPrestaciones()">Guardar</button>
          </div>  
        </div>
          
    </div>
    
    
    </div>
</div>