<nav class="navbar navbar-dark bg-primary">
</nav>
<div class="container-fluid border border-primary mb-4">
    <div class="row">
        <div class="contenedor1 col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="mt-2 mb-2">
                <label class="col-form-label col-3 col-md-4" for="cboPrestador">Prestador</label>
                <select name="prestadores"  class="form-select" (change)="cambiaPrestador($event.target.value)">
                    <option selected >Seleccione prestador</option>
                    <option [value]="item.pre_id" *ngFor="let item of prestadores">{{ item.pre_razon_social}}</option>
                </select>
            </div>
        </div>

        <div class="col mt-2 mb-2">
            <div class="d-flex justify-content-evenly bd-highlight">
                <div class="p-2">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rdDia" value="">
                    <label class="form-check-label" for="rdDia">Ver día</label>
                </div>
                <div class="d-flex justify-content-evenly bd-highlight">
                    <div class="btn-group">
                        <div name="fechasParams"  *ngFor="let item of fechasParams" >
                                <label for="fechaDesde">{{item.nombre}}</label>
                                <input type="date" id="fechaDesde" name="fecDesde" value="{{item.fecha}}"> <br>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="contenedor2 col-xs-6 col-sm-6 col-md-6 col-lg-4">
         <form [formGroup]="consultaForm" (ngSubmit)="buscarBeneficiario()">
            <div class="d-flex justify-content-center bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <div class="btn-group">

                        <input type="radio" class="btn-check"  formControlName="tipoDoc"  value="1"  autocomplete="off" checked>
                        <label class="btn btn-outline-primary btn-block"  >RUT</label>
                        <input type="radio" class="btn-check" formControlName="tipoDoc" value="2" autocomplete="off">
                        <label class="btn btn-outline-primary btn-block" >OTRO DOCUMENTO</label>
                        </div>
                </div>
            </div>
            <div>
                 <input class="form-control" type="text"  formControlName="rut"  (change)="validarRut()" placeholder="ingrese numero de documento"/>
                <div  *ngIf="revItemForm.rut.errors">
                    <span *ngIf="revItemForm.rut.errors.invalido">Rut no valido</span> 
                </div>
                                <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary" type="submit">Enviar</button>
                 <!-- <input class="form-control" type="text"  [(ngModel)]="consultaForm.rut.val"  (change)="validarRut()" maxlength="12" [required]="true" (keyup.enter)="buscarBeneficiario(buscarPac.value)" #buscarPac placeholder="ingrese numero de documento"/> -->
                            <!-- <button class="btn btn-outline-primary" type="button" (click)="buscarBeneficiario(buscarPac.value)">Enviar</button> -->
                 
                        </div>
            </div>
        </form>

        </div>
        <div class="contenedor3 col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="mt-2">
                <label class="col-form-label col-3 col-md-4 mb-2" for="cboProfesional">Profesional</label>
                <select name="profesionales"  class="form-select" (change)="cambiaProfesional($event.target.value)">
                    <option selected >Seleccione Profesional</option>
                    <option [value]="item.pro_idprofesional" *ngFor="let item of profesionales">{{ item.nombre_profesional}}</option>
                </select>
                <div class="d-flex justify-content-end col">
                    <button class="btn btn-outline-primary"(click)=buscarCita() type="submit">Buscar Cita</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="contenedor4 col-xs-6 col-sm-3 col-md-4 col-lg-2">
            <div class="border mb-4">
                <label class="col-form-label col-3 col-md-4" for="">Prestacion</label>
                <div class="form-check" name="prestaciones"   *ngFor="let item of prestaciones" (change)="cambiaPrestacion($event.target.id)">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ item.id }}">
                    <label class="form-check-label" for="flexRadioDefault1">
                     {{ item.nombre}}
                    </label>
                  </div>

            </div>
            <div class="border mb-4">
                <label class="col-form-label col-3 col-md-4" for="cboEspe">Especialidad</label>
                <div>
                    <select name="especialidades"  class="form-select" (change)="cambiaEspecialidad($event.target.value)">
                        <option selected >Seleccione Especialidad</option>
                        <option [value]="item.esp_idespecialidad" *ngFor="let item of especialidades">{{ item.esp_descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="border">
                <label for="">Georeferenciacion</label>
                <div>
                    <select name="regiones"  class="form-select" (change)="cambiaRegion($event.target.value)">
                        <option selected >Seleccione Region</option>
                        <option [value]="item.reg_idregion" *ngFor="let item of regiones">{{ item.reg_nombrecorto}}</option>
                    </select>
                </div>
                <div>
                    <select name="comunas"  class="form-select" (change)="cambiaComuna($event.target.value)">
                        <option selected >Seleccione Comuna</option>
                        <option [value]="item.com_idcomuna" *ngFor="let item of comunas">{{ item.com_nombrecorto}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--
    Tablas con resultados de agendamientos semanales,
    diarios o de prestaciones como imagen y laboratorio clinico.
    -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <app-tabla-resultados></app-tabla-resultados>
    </div>
</div>