<div class="border border-secondary rouded formulario">
    <label class="preAgen" for="">PRE AGENDAMIENTO</label>
    <form class="border border-primary rouded formularioAgen">
        <div class="row">
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-4">
                <label for="txtRut">Rut</label>
                <input type="text" class="form-control" id="txtRut">
            </div>
            <div class="form-group col-md-4">
                <label for="txtPaciente">Paciente</label>
                <input type="text" class="form-control" id="txtPaciente">
            </div>
            <div class="form-group col-md-2">
                <label for="txtNivel">Nivel</label>
                <input type="text" class="form-control" id="txtNivel">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-4">
                <label for="txtPrfesional">Profesional</label>
                <input type="text" class="form-control" id="txtProfesional">
            </div>
            <div class="form-group col-md-4">
                <label for="slcPrestacion">Prestacion</label>
                <select id="slcPrestacion" class="form-control">
     <option selected>...</option>
     <option>...</option>
    </select>
            </div>
            <div class="form-group col-md-2">
                <label for="txtCodPrestacion">Código prestación</label>
                <input type="text" class="form-control" id="txtCodPrestacion">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-3">
                <label for="txtValorT">Valor total</label>
                <input type="text" class="form-control" id="txtValorT">
            </div>
            <div class="form-group col-md-3">
                <label for="txtBonificacion">Bonificación</label>
                <input type="text" class="form-control" id="txtBonificacion">
            </div>
            <div class="form-group col-md-2">
                <label for="txtValorC">Valor Copago</label>
                <input type="text" class="form-control" id="txtValorC">
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
                <label for="txtFecha">Fecha</label>
                <input type="text" class="form-control" id="txtFecha">
            </div>
            <div class="form-group col-md-4">
                <label for="txtHora">Hora</label>
                <input type="text" class="form-control" id="txtHora">
            </div>
            <div class="form-group col-md-2"></div>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn btn-success margenBoton">Comprar bono</button>
            <button type="submit" class="btn btn-secondary margenBoton">Copago</button>
            <button type="submit" class="btn btn-secondary">VOLVER</button>
        </div>
    </form>
</div>