<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Cita confirmada exitosamente!</h1>
        <p class="lead"></p>
        <dl class="row">
            <dt class="col-sm-3">Paciente</dt>
            <dd class="col-sm-9">{{ reserva.beneficiario}}.</dd>
          
            <dt class="col-sm-3">Cita Agendada</dt>
            <dd class="col-sm-9">
              <p>Dr. Juan andresd ( ortondoncia)</p>
              <p>Fecha: 28/11/2021 15:00 hrs</p>
            </dd>
          
            <dt class="col-sm-3">Descargar Bono</dt>
            <dd class="col-sm-9"><button type="button" (click)="buscarBono()" class="btn btn-secondary  btn-sm">Descargar Bono</button>.</dd>
          
            <!-- <dt class="col-sm-3 text-truncate">Recomendaciones</dt>
            <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd> -->
          
            <dt class="col-sm-3">Direccion Centro médico</dt>
            <dd class="col-sm-9">
              <dl class="row">
                <dd class="col-sm-9">Avenida Las Condes # 8645, Las condes, Santiago.</dd>
          
              </dl>
            </dd>
          </dl>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Pedir nueva cita</a>
        </p>
    </div>
</div>