<div class="panel panel-default">

    <div class="row">

        <div class="col-12 col-md-6 col-lg-6 pt-2">

            <div class="row col-md-12 justify-content-center py-3">
                <img alt="RCM Clínico" title="RCM Clínico" src="/assets/img/rcm_clinico_logo.svg" style="height:120px;">
            </div>

            <form class="p-4">

                <div class="form-group">
                    <label for="idUsuario">Usuario</label>
                    <input type="text" class="form-control" id="idUsuario" placeholder="Ingrese Usuario">
                </div>

                <div class="form-group">
                    <label for="passUsuario">Contraseña</label>
                    <input type="password" class="form-control" id="passUsuario" placeholder="Ingrese Contraseña">
                </div>

            </form>

            <div class="col-12 col-xl-8 modal-footer">
                <button class="btn btn-outline-secondary">Volver</button>
                <a type="submit" class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="Privacy">
                   Ingresar
                </a>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-6 pt-2 d-none d-md-block">
            <img class="w-100" alt="RCM Clínico" title="RCM Clínico" src="/assets/img/rcm_clinico_portada.png" style="max-width:500px;">
        </div>

    </div>

</div>