<!--
    Tabla de resultados por semana
-->
<table class="table" hidden>
    <thead>
        <tr class="table-secondary">
            <th scope="col">Semana</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
            <th scope="col">Domingo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
    </tbody>
</table>
<!--
    Tabla de resultados por dia
-->
<table class="table" hidden>
    <thead>
        <tr class="table-secondary">
            <th scope="col">Horas</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-success">
            <th scope="row">8:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-success">
            <th scope="row">8:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-success">
            <th scope="row">9:00 </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--
    Formulario aparece al seleccionar prestacion de imagen o laboratorio clinico, reemplaza las tablas
    de dia o semana
-->
<div>
    <div class="row border">

    </div>
</div>