<!--
    Tabla de resultados por semana
-->

<table class="table" hidden>
    <thead>
        <tr class="table-secondary">
            <th scope="col">Semana</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
            <th scope="col">Domingo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
        <tr>
            <th class="table-info" scope="row"></th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
    </tbody>
</table>

<!--
    Tabla de resultados por dia
-->

<table class="table" hidden>
    <thead>
        <tr class="table-secondary">
            <th scope="col">Horas</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-success">
            <th scope="row">8:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-success">
            <th scope="row">8:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-success">
            <th scope="row">9:00 </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<!--
    Formulario aparece al seleccionar prestacion de imagen o laboratorio clinico, reemplaza las tablas
    de dia o semana
-->

<div class="row border">
    <div class="border border-secondary rouded formulario">
        <label class="p-2" for="">AREA DE EXAMENES</label>
        <form class="border border-primary rouded formularioAgen mb-2">
            <div class="col">
                <div class="col mt-2 mb-2 p-4">
                    <div class="input-group mb-3">
                        <label for="slcTexamen" class="input-group-text">Tripo de examen</label>
                        <select class="form-select" id="slcTexamen">
                          <option selected>Seleccione</option>
                          <option value=""></option>
                          <option value=""></option>
                          <option value=""></option>
                        </select>
                        <div class="d-flex justify-content-end col">
                            <button class="btn btn-outline-primary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                             Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-2">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">Examen</th>
                            <th scope="col">Codigo fonasa</th>
                            <th scope="col">seleccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-success">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-success">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-success">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="cantidadExamen">Examenes seleccionados</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled="disabled">
        </div>
    </div>
</div>